@charset "utf-8";

@font-face {
    font-family:'NotoSans Light';
    font-style:normal;
    font-weight:normal;
    src:url(../../font/notokr-light.eot);
    src: local(☺),
    url(../../font/notokr-light.eot?#iefix) format('embedded-opentype'),
    url(../../font/notokr-light.woff) format('woff');
}
@font-face {
    font-family:'NotoSans DemiLight';
    font-style:normal;
    font-weight:normal;
    src:url(../../font/NotoSansCJKkr-DemiLight.eot);
    src: local(☺),
    url(../../font/NotoSansCJKkr-DemiLight.eot?#iefix) format('embedded-opentype'),
    url(../../font/NotoSansCJKkr-DemiLight.woff) format('woff');
}
@font-face {
    font-family:'NotoSans Regular';
    font-style:normal;
    font-weight:normal;
    src:url(../../font/NotoSans-Regular.eot);
    src: local(☺),
    url(../../font/NotoSans-Regular.eot?#iefix) format('embedded-opentype'),
    url(../../font/NotoSans-Regular.woff) format('woff');
}
@font-face {
    font-family:'NotoSans Light';
    font-style:normal;
    font-weight:bold;
    src:url(../../font/notokr-bold.eot);
    src: local(☺),
    url(../../font/notokr-bold.eot?#iefix) format('embedded-opentype'),
    url(../../font/notokr-bold.woff) format('woff');
}

/* Tenada */
@font-face{
	font-family:'Tenada';
	font-weight: 600;
	src: url("../../font/Tenada.woff2") format('woff');
}